
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Página Inicial</h1>
    </div>
</body>
</html>