
@{
    Layout = null;
}
@model AppRoute66.Models.Noticia
@{
    ViewBag.Title = "Exemplo";
}

<div class="navbar navbar-dark bg-primary">
    <h1>Exemplos com Bootstrap</h1>
</div>

<br />
<p>@Html.ActionLink("Início", "Index")</p>

@Styles.Render("~/Content/css")
