
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Escreva um texto sobre o que você entendeu sobre o padrão MVC</h2>
        <p>O padrão MVC organiza a aplicação, pois com a parte visual e a funcionalidade unidas, pode ficar confuso de referenciar uma na outra.</br>
        Com ele é possível criar métodos e usar variáveis de ambas as partes e deixar o código organizado, e além disso é possível usar várias</br>
        linguagens de programação, como JavaScript e C#, deixando o sistema mais dinâmico.
        </p>
    </div>
</body>
</html>
